altgraph==0.17.5
customtkinter==6.0.0
darkdetect==0.8.0
mss==10.2.0
packaging==26.3
pillow==12.3.0
platformdirs==4.11.8
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
python-xlib==0.33
setuptools==84.0.0
six==1.17.0
